.title {
    background-color: green;
    color: #fff;
    width: 400px;
    height: 100px;
    transition: all 1s linear;
    transform: scale(1) rotateZ(0deg);
    transform-origin: center center;
    animation: zoom 2s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.w-600 {
    width: 600px;
    height: 200px;
    background-color: red;
    transform: scale(0.5) rotateZ(90deg);
}