*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
}
.music{
    background-color: #2A2A2A;
    height: 100%;
}
.head{
    height: 76px;
    background-color: #161616;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    /* font-size: 0; */
}
.back, .more{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
}
.name {
    font-family: Roboto, Roboto;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
}
.author {
    font-family: Roboto, Roboto;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}
.main{
    padding: 20px 32px;
}
.logo{
    width: 311px;
    height: 311px;
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
}

/* 1.
/* .back, .more{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 18px;
}
.title{
    float: left;
    width: calc(100% - 112px);
} */

/* 2.
/* .back, .more{
    width: 40px;
    height: 40px;
    position: absolute;
}
.title{
    height: 100%;
    text-align: center;
    line-height: 76px;
}
.back{
    left: 16px;
    top: 18px;
}
.more{
    right: 16px;
    top: 18px;
} */

/* 3.
/* .back, .title, .more{
    display: inline-block;
    font-size: 16px;
}
.back, .more{
    width: 40px;
    height: 40px;
    background-color: white;
}
.back{
    margin-left: 16px;
    margin-top: 18px;
}
.title{
    width: calc(100% - 112px);
} */