.calendar{
    border: 1px solid #aaa;
    padding: 10px;
    width: 300px;
    height: 250px;
}

.header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.days{
    display: flex;
    flex-wrap: wrap;
}

.empty, .day{
    width: calc(100% / 7);
    text-align: center;
    line-height: 30px;
}

.day:hover, .selected{
    background-color: #ccc;
    cursor: pointer;
}