*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.head{
    height: 114px;
    font-size: 0;
    padding: 0 171px;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.head_nav, .head_user{
    display: inline-block;
    width: 50%;
    font-size: 16px;
}
.head_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav, .logo{
    display: inline-block;
}
.nav ul{
    display: flex;
}
.logo{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.logo img{
    width: 100%;
}
.nav ul li{
    margin-left: 42px;
}

.head_user{
    display: flex;
    justify-content: end;
    align-items: center;
}
.login{
    width: 57px;
    height: 43px;
    color: #4B5563;
    border: none;
    background-color: white;
}
.register{
    width: 57px;
    height: 43px;
    border-radius: 7px 7px 7px 7px;
    color: white;
    background-color: black;
}

/* main */
.main{
    padding-top: 57px;
}
.search{
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.search_info{
    width: 1013px;
    height: 66px;
    margin: 0 auto;
    position: relative;
}
.search_info input{
    width: 100%;
    height: 100%;
    border-color: #D1D5DB;
    border-radius: 11px;
    font-size: 21px;
    padding-left: 63px;
    padding-right: 128px;
    box-sizing: border-box;
}
.search_icon{
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    left: 21px;
    top: 20px;
}
.search_btn{
    width: 106px;
    height: 53px;
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 11px;
    top: 7px;
    /* text-align: center;
    line-height: 53px; */
    display: flex;
    justify-content: center;
    align-items: center;
}