*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
.question{
    width: 600px; 
    display: flex;
}
.question input{
    flex: 1;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-right: 20px;
}
.question button{
    width: 80px;
    font-size: 18px;
    cursor: pointer;
}
.output{
    margin-top: 20px;
    width: 800px;
    min-height: 400px;
    border: 1px solid #000;
}