*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.question{
    width: 100%;
    height: 100vh;
}
.head{
    background-color: white;
    padding: 14px;
}
.title{
    color: #4B5563;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.bar{
    width: 100%;
    height: 4px;
    background-color: #E2E8F0;
    margin-top: 8px;
}
.bar-process{
    width: 10%;
    height: 100%;
    background-color: #15B8A6;
}
.main{
    width: 100%;
    height: calc(100vh - 58px);
    background-color: #F0F7FF;
    padding: 14px;
    box-sizing: border-box;
}
.question-wrap{
    padding: 21px;
    background-color: white;
    border-radius: 16px;
}
.order{
    color: #1F2937;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 7px;
}
.question-title{
    color: #374151;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 21px;
}
.list li{
    padding: 14px;
    background-color: #F9FAFB;
    border-radius: 8px;
    margin-bottom: 14px;
}
.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 14px;
}
.next, .goResult{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 42px;
    background-color: #15B8A6;
    text-align: center;
    line-height: 42px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
}
.hide{
    display: none !important;
}