body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
}
.clock{
    display: flex;
}
.divider{
    font-size: 66px;
    font-style: normal;
    line-height: 102px;
    color: rgb(51, 50, 50);
}
.flip{
    width: 60px;
    height: 100px;
    margin: 2px;
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    background: rgb(45, 45, 45);
    border-radius: 10px;
    border: 1px solid rgb(34, 33, 33);
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.5);
    position: relative;
}
.digital::before,
.digital::after{
    content: attr(data-number);
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    -webkit-perspective: 160px;
    perspective: 160px;
}
.digital::before{
    top: 0;
    bottom: 50%;
    border-bottom: 1px solid #666;
    border-radius: 10px 10px 0 0;
}
.digital::after{
    top: 50%;
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 10px 10px;
}
.back::before,
.front::after{
    z-index: 1;
}
.front::before{
    z-index: 3;
}
.back::after{
    z-index: 2;
    transform-origin: center top;
    transform: rotateX(0.5turn);
}
.flip.running .front::before{
    transform-origin: center bottom;
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
    animation: frontFlipDown 0.6s ease-in-out;
    backface-visibility: hidden;
}

@keyframes frontFlipDown {
    to {
        transform: rotateX(0.5turn);
    }
}
.flip.running .back::after{
    animation: backFlipDown 0.6s ease-in-out;
}

@keyframes backFlipDown {
    to {
        transform: rotateX(0);
    }
}